.nav-body {
  display: flex;
  flex-direction: column;
}

.twitter-logo {
  color: #1da1f2;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
  margin-top: 30px;
}

.nav-button {
  /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.nav-button-heading {
  padding-left: 20px;
  transition: color 0.1s;
  font-weight: 700;
  font-size: 20px;
  line-height: 22.27px;
}

.nav-button:hover {
  color: #1da1f2;
}

.user-detail-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 10px;
  border-radius: 15px;
  background-color: #f4efef;
}

.user-detail-box img {
  margin-right: 8px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 2px solid #1da1f2;
}

.name h3 {
  margin: 5px;
  font-weight: 700;
  font-size: 17px;
  line-height: 17.58px;
}

.name h4 {
  margin: 5px;
  color: #828282;
  font-size: 14px;
  line-height: 16px;
}

.logout-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 48px;
  padding: 16px 69px;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 17.58px;
  color: #fff;
  background-color: #1da1f2;
  transition: 0.5s color, 0.5s background-color;
}
.logout-btn:hover {
  color: #f03f2f;
  background-color: #fff;
  border: 1px solid #f03f2f;
}
.logout-btn:active {
  outline: none;
  border: none;
}
.logout-btn:focus {
  outline: 0;
}
